@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: system-ui;
  display: grid;
  place-items: center;
  font-family: "Atkinson Hyperlegible";
}

.container {
  width: 100%;
  padding-bottom: 70px;
}

.game-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 327px;
  margin-inline: auto;
}

.game-item {
  background-color: #304859;
  width: 72.53px;
  height: 72.53px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: transparent;
}

.game-item:hover {
  background-color: #405f74;
}

.game-item img {
  opacity: 0;
}

.game-item-active {
  background-color: #bcced9;
  user-select: none;
  pointer-events: none;
  display: flex;
  padding: 14px;
}

.game-item-active img {
  opacity: 1;
}

.game-item-focus {
  background-color: #fda214;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease forwards;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  text-align: left;
}

.score {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-top: 102px;
}

.zamanlayici,
.hamle {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: #dfe7ec;
  padding: 10px 31px;
  width: 151px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18.6px;
  text-align: center;
  color: #7191a5;
}

.zamanlayiciTxt,
.hamleTxt {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  text-align: center;
  color: #304859;
}

.game-items {
  margin-top: 80px;
}

.menuBtn {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.84px;
  text-align: center;
  color: #fcfcfc;
  background-color: #fda214;
  padding: 10px 18.5px;
  border-radius: 26px;
  border: none;
}

.restartBtn {
  display: none;
}

.restartBtnMessage {
  text-decoration: none;
  color: #fcfcfc;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: center;
  background-color: #fda214;
  padding: 14px 29px;
  border-radius: 26px;
  margin-top: 24px;
}

.newGameBtn {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

body {
  padding: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.message {
  color: white;
  font-size: 24px;
  text-align: center;
  background-color: #f2f2f2;
  padding: 24px;
  border-radius: 10px;
  width: 100%;
  max-width: 654px;
  margin-inline: 24px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.76px;
  text-align: center;
  color: #152938;
}

p {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.36px;
  text-align: center;
  color: #7191a5;
  margin-top: 9px;
}

.scores {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.gecenSure,
.hamleSayisi {
  background-color: #dfe7ec;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  line-height: 16.12px;
  text-align: left;
  color: #7191a5;
  align-items: center;
}

.gecenSure span,
.hamleSayisi span {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: right;
  color: #304859;
}

dialog {
  width: 100%;
  padding: 24px;
  margin-inline: 24px;
  align-self: center;
  border-radius: 10px;
  border: none;
}

.menuRestartBtn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fcfcfc;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: center;
  background-color: #fda214;
  padding: 12px;
  border-radius: 26px;
}

.menuNewGameBtn {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: center;
  color: #304859;
  background-color: #dfe7ec;
  padding: 12px;
  border: none;
  border-radius: 26px;
  width: 100%;
}

.resumeBtn {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: center;
  color: #304859;
  background-color: #dfe7ec;
  padding: 12px;
  border: none;
  border-radius: 26px;
  width: 100%;
}

.newGameBtn , .menuNewGameBtn {
  text-decoration: none;
}

@media (width >= 768px) {
  .game-item {
    width: 100px;
    height: 100px;
  }

  body {
    padding: 68px 165px;
  }

  .zamanlayici,
  .hamle {
    width: 255px;
  }

  .menuBtn {
    display: none;
  }

  .restartBtn {
    display: block;
    text-decoration: none;
    color: #fcfcfc;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.8px;
    text-align: center;
    background-color: #fda214;
    padding: 14px 29px;
    border-radius: 26px;
  }

  .newGameBtn {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.8px;
    text-align: center;
    color: #304859;
    background-color: #dfe7ec;
    padding: 14px 24px;
    border: none;
    border-radius: 26px;
  }

  .buttonsDesktop {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  h2 {
    font-size: 40px;
    line-height: 49.6px;
  }

  .game-items {
    max-width: 532px;
  }
}
